{# **************** #}
{# **** Footer **** #}
{# **************** #}

<footer class="footer bg-dark pt-3 pb-3" style="background-color: #81FFDA !important;">
    <p class="container d-flex justify-content-center mb-0">
        Copyright @ 2019
    </p>
</footer>